<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="loginRegister">
      <p>Regisztrálás</p>
	  

      <form action="/users/new" method="post">
		<span class="registration">Felhasználó név:</span>
        <input type="text" name="username" value="<%- user.username %>">
		<span class="registration">Jelszó:</span>
        <input type="password" name="password" value="">
		<span class="registration">Jelszó megerősítése:</span>
        <input type="password" name="password2" value="">
		<span class="registration">Email cím:</span>
        <input type="text" name="email" value="<%- user.email %>">
		<span class="registration">Szobaszám:</span>
        <input type="text" name="szobaszam" value="<%- user.szobaszam %>">
        <input type="submit" name="" value="Regisztráció">
      </form>


    </div>
  </body>
</html>
